@page
@model Pricer_v3.Views.Home

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Сервис для мониторинга цены</title>
</head>
<body>
<div id="app">
    <div style="max-width: 900px; margin: 20px auto; font-family: sans-serif; ">
        <h1 style="font-weight: 700; font-size: 28px;">Сервис для мониторинга цены</h1>
        <div style="font-size: 12px; margin: 15px 0; color: #111">Введите адрес страницы товара, цену которого вы хотите отслеживать, и адрес почты, чтобы получать уведомления</div>
        <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">Адрес страницы</span>
            </div>
            <input type="text" class="form-control" aria-describedby="addon-wrapping" v-model="url">
        </div>
        <div class="input-group  flex-nowrap" style="margin-top: 12px">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">Email</span>
            </div>
            <input v-model="email" type="text" class="form-control" aria-describedby="addon-wrapping" style="max-width: 250px; margin-right: 18px">
            <button type="button" class="btn btn-primary" v-on:click="submit" :disabled="loading">Начать мониторинг</button>
        </div>
        <div class="alert alert-info" role="alert" v-if="info != ''" style="margin-top: 10px;">
          {{ info }}<span id="wait" v-if="loading">.</span>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
var dots = window.setInterval( function() {
    var wait = document.getElementById("wait");
    if ( wait.innerHTML.length > 3 ) 
        wait.innerHTML = "";
    else 
        wait.innerHTML += ".";
    }, 400);
var app = new Vue({
    el: '#app',
    data:{
        url: "",
        email: "",
        info: "",
        loading: false
    },
    methods: {
        submit: function () {
            if (!this.validateUrl(this.url))
            {
              this.info = "Адрес страницы не соответствует формату";
              return;
            }
            if (!this.validateEmail(this.email))
            {
             this.info = "Email не соответствует формату";
             return;
            }

            this.info = "Выполняется анализ переданой страницы, ожидайте";
            this.loading = true;
            axios.get('/api/pricer', {
                params: {
                  url: this.url
                }
              })
              .then(function (response) {
                resp = response.data;
                if (resp.error != null)
                    app.info = "К сожалению, возникла ошибка при распознании цены, попробуйте с другим магазином";
                else if(resp.price != null)
                    app.info = "Мониторинг запущен. На данный момент цена: " + resp.price;
                else
                    app.info = "К сожалению, на возникла ошибка";
                app.loading = false;
              })
              .catch(function (error) {
                  app.info = "К сожалению, на сервере возникла ошибка";
                  app.loading = false;
              });
        },
        validateEmail: function (email) {
            var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        },
        validateUrl: function(url) {
            var re = /((([A-Za-z]{3,9}:(?:\/\/)?)(?:[\-;:&=\+\$,\w]+@@)?[A-Za-z0-9\.\-]+|(?:www\.|[\-;:&=\+\$,\w]+@@)[A-Za-z0-9\.\-]+)((?:\/[\+~%\/\.\w\-_]*)?\??(?:[\-\+=&;%@@\.\w_]*)#?(?:[\.\!\/\\\w]*))?)/
            return re.test(String(url));
        }
    }
})
</script>
</html>